.preview {
    height: 500px;

    @media screen and (max-width: 768px) {
        height: 310px;
    }

    &__background {
        background-image: url('../../../../assets/room.jpg');
        background-position: -150px -24px;
        background-size: 820px 571px;
        background-repeat: no-repeat;

        @media screen and (max-width: 768px) {
            background-position: -140px -4px;
            background-size: 517px 360px;
        }
    }
}

.city {

    &__window {
        bottom: 99px;
        left: 120px;

        @media screen and (max-width: 768px) {
            bottom: 45px;
            left: 64px;
        }
    }

    &__background {
        min-width: 530px;
    }
}