@import '../../variables';

.field {
  outline: none;
  display: block;
  height: 50px;

  &--error {
    border: 1px solid $error;
  }

  &__errorMsg {
    color: $error;
  }

  &__wrapper {
    height: 71px;
  }
}