.bar {

  &__label {
    height: 12px;
    line-height: 12px;
    font-size: 11px;
  }

  &__back {
    height: 7px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(245,255,0,1) 50%, rgba(9,255,0,1) 100%);
  }

  &__cover {
    height: 7px;
  }
}