.select {
  appearance: button;

  &__label {
    line-height: 80px;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &__wrapper {
    width: 85px;
    height: 30px;

    @media (min-width: 640px) {
      width: 110px;
    }
  }

  &__arrow {
    top: 9px;
  }
}