@import '../../../variables';

.submit {
  height: 50px;
  width: 400px;
  outline: none;

  @media screen and (max-width: 640px) {
    width: 300px;
  }

  &--sm {
    width: 100px;
    min-width: 100px;
  }

  &:disabled {
    background: $gullGray;
  }
}
